MOVIE LIST WOO
<div id="movies" ng-controller='movieListController as list'>

  <input type=text id='new-movie' placeholder='Add movie' ng-model='movieName'/>
  <button id='search-movie' ng-click='list.searchForMovie(movieName)'>Search</button>
  <div id='search-results'>
    <li ng-repeat='movie in list.movieSearchResults'>
      <p> {{ movie.title }} </p>
      <p><img src="http://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"></p>
      <p><button id="add-movie" onClick="this.value=''" ng-click='list.addMovie(movie)'>Add Movie</button></p>
      <hr>
      <br>
    </li>
  </div>


  <p ng-repeat='movie in list.movies'>
   <span>{{ movie.title }}</span>
   <button id='remove-movie' ng-click='list.removeMovie(movie)'>-</button>
  </p>

</div>
