<!DOCTYPE html>
<html ng-app='recommendNChill'>
  <head>
    <meta charset="utf-8">
    <title>recommendNChill</title>
  </head>
  <body>
    <div id="movies" ng-controller='recommendNChill as controller'>
      <input type=text id='new-movie' placeholder='Add movie' ng-model='movieName'/>
      <button id='search' ng-click='controller.searchForMovie(movieName)'>Search</button>
      <div class='search-results'>
        <li ng-repeat='movie in controller.movieSearchResults'>
          <p> {{ movie.title }} </p>
          <img src="http://image.tmdb.org/t/p/w500/{{ movie.image_url }}">
          <button id="add" ng-click='controller.addMovie(movie.id)'>Add Movie</button>
        </li>
      </div>
      <div id='watched-list'>
        <li ng-repeat="movie in controller.movies">
          <p> {{ movie.title }} </p>
          <img src="http://image.tmdb.org/t/p/w500/{{ movie.image_url }}">
        </li>
    </div>
  </body>
</html>
