<!DOCTYPE html>
<html ng-app='recommendNChill'>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="movies" ng-controller='recommendNChill as list'>
      <p ng-repeat='movie in list.movies'>
        {{ movie }}
      </p>
    </div>
  </body>
</html>
