<h2>Users <a href="#/user/new">New</a></h2>

<!-- This will only show when there's no items to let the user know there's purposefully nothing there.. -->
<div ng-show="userList.length == 0">
    <hr />
    <h4>There's nothing here...</h4>
    <p>Use the 'New' button to create a new user!</p>
</div>

<!-- A nice table that will contain a list of Forums -->
<table >
    <!-- This will create a row for every item within our items object (both of these refer to the forums -->
    <tr ng-repeat="user in userList">
        <td width="100%"><a href="#/user/"></a></td>

        <!-- When the user clicks this button it will call the 'destory()' method within the controller -->
        <td><a ng-click="destroy($index)" href="">delete</a></td>
    </tr>
</table>
