<form ng-submit="save()" >

    <!-- The control-group, control-label, and controls classes are Bootstrap specific -->
    <div >
        <label >Forum Name:</label>

        <div>
            <!-- This input is tied to the forum.name object. -->
            <input type="text" ng-model="user.name"/>

            <!-- If there's any errors that pertain to name display them here! -->
            <div ng-repeat="error in errors.name"></div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Create!"/>
        </div>
    </div>
</form>
